.html {
    background-color: #fff;
    font-family: Lato, sans-serif;
}

button:focus {
    outline: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: fit-content;;
    padding: 19px;
    background-color: #dd3668;
    border: none;
    border-radius: 0;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.btn.btn--inverse {
    background-color: white;
    border: 2px solid #dd3668;
    color: #7a7a7a;
}

.btn.btn--inverse:hover, .btn.btn--inverse:active, .btn.btn--inverse:focus {
    color: #7a7a7a;
}

.btn:hover, .btn:active, .btn:focus {
    color: #fff;
}

.header .modalBlock .btn.btn--social {
    background-color: inherit;
    justify-content: space-between;
    padding: 13px 24px;
}

.btn.btn--google {
    border: 1px solid #e83e2e;
    color: #e83e2e;
}


.btn.btn--yahoo {
    border: 1px solid #7b4595;
    color: #7b4595;
}

.header {

}

.header .container {
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: block;
}

.header .logo img {
    width: 279px;
    height: auto;
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
}

.header .navigation a {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.header .navigation a:hover, a:focus {
    text-decoration: none;
    color: black;
}

.header .modalBlock {
    margin: 0 20px 0 auto;
    position: relative;
}

.header .modalBlock .btn {
    padding: 13px;
}

.header .modalBlock:last-child {
    margin: 0;
}

.modal {
    position: absolute;
    top: 65px;
    left: 50%;
    overflow: initial;
    transform: translateX(-50%);
    padding: 48px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 358px;

    background-color: white;
    border: 1px solid rgba(118, 117, 118, 0.15);
    box-shadow: 0 0 38px rgba(1, 1, 1, 0.09);
}

.modal#loginDialog {
    height: 488px;
}

.modal#registerDialog {
    height: 512px;
}

.modal::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -22px;
    border: 10px solid transparent;
    border-bottom: 20px solid white;
}

.modal .closeBtn {
    position: absolute;
    top: 15px;
    right: 22px;
    width: 13px;
    height: 13px;
}

.modal input {
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
    color: #c5c5c5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    padding: 15px 25px;
}

.modal .btn {
    width: 80%;
    margin: 0 auto;
}

.modal .btn--social {
    margin-bottom: 20px;
}

.modal .btn--social:last-child {
    margin-bottom: 0;
}

.modal .modal__or {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.modal .modal__or span {
    color: #b9b9b9;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
}

.modal .modal__or hr {
    width: 21px;
    height: 1px;
    background-color: #b9b9b9;
}

.overview {
    height: 562px;
    background: url(../images/overviewBgs/1.jpg) center/cover no-repeat;
}

.overview .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.overview .title {
    color: #a3a3a3;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 20px;
}

.overview .list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 35px;
}

.overview .list .list-item {
    opacity: 0.65;
    color: #8e8e8e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    padding: 0 7px;
    border-right: 1px solid #8e8e8e;
}

.overview .list .list-item:first-child {
    padding-left: 0;
}

.overview .list .list-item:last-child {
    border-right: 0;
}


.features .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .title {
    text-align: center;
    color: #a3a3a3;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.features .list {
    list-style: none;
    padding: 0;
    border: 1px solid #dfdfdf;
    margin-bottom: 82px;
}

.features .list .list-item {
    border: 1px solid #dfdfdf;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 243px;
}

.features .list .list-item img {
    height: 78px;
    margin-bottom: 20px;
}

.features .list .list-item hr {
    width: 38px;
    border-top: 2px solid #dfdfdf;
}

.features .list .list-item p {
    opacity: 0.65;
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.features .btn {
    display: block;
    margin: 0 auto;
}

.tools {
    background-color: #f8f8fa;
}

.tools .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.tools .title {
    color: #a3a3a3;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 42px;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.tools .photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tools .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tools .desc * {
    margin: 20px;
}

.tools .desc p {
    opacity: 0.65;
    color: #a3a3a3;
    font-family: "Myriad Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.examples .container {
    padding-top: 180px;
    padding-bottom: 220px;
}

.examples .title{
    color: #a3a3a3;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
}

.constructor {
    background-color: #f8f8fa;
    position: relative;
}

.constructor::before {
    content: " ";
    background: url(../images/constructorBG.png) center/cover no-repeat;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.constructor .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.constructor .title {
    color: #a3a3a3;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 45px;
    text-align: center;
}

.constructor .btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.constructor .note {
    opacity: 0.65;
    color: #5b5b5b;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
}

.footer {
    background-color: #f0f0f0;
}

.footer .container {
    padding: 48px 0 10px;
}

.footer .container > * {
    margin-bottom: 82px;
}

.footer .searchUs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .searchUs .logo {
    height: auto;
    width: 279px;
    display: block;
}

.footer .searchUs .social {
    list-style: none;
    padding: 0 40px;
    margin: 0;
    border-left: 2px solid #a4a4a4;
}

.footer .social .socialLink {
    margin: 0 12px;
}

.footer .social .socialLink:hover {
    text-decoration: none;
}

.footer .social .socialLink img {
    width: 31px;
    height: 31px;
}

.footer .searchPhoto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .signature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .signature .copyright {
    color: #9a9a9a;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
}

.footer .signature .link a {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #dd3668;
    padding: 0 5px;
    border-right: 1px solid #b9b9b9;
}

.footer .signature .link:last-child a {
    border-right: 0;
}

.footer .signature-doc, .signature-int-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .signature-int {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .signature-int > span {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #8f8f8f;
}

.footer .callbackForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.callbackForm  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.callbackForm .callbackForm__title {
    width: 100%;
    color: #a3a3a3;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}

.callbackForm .callbackForm__txt {
    width: 100%;
    color: #9a9a9a;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 27px;
}

.callbackForm input {
    width: calc(100%/3 - 22px);
    border: 1px solid #d0d0d0;
    margin-bottom: 27px;
    padding: 15px 27px;
    //text-indent: 12px;
}

.callbackForm textarea {
    width: 100%;
    border: 1px solid #d0d0d0;
    margin-bottom: 27px;
    padding: 15px 27px;
    //text-indent: 12px;
    resize: none;
}

.callbackForm .btn:last-child {
    margin: 0 auto 0 25px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts .contact {
    margin-bottom: 20px;
}

.contacts .contact .title {
    color: #a3a3a3;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 20px;
}

.contacts .contact .body {
    color: #9a9a9a;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.contacts .download {
    font-family: Lato;
    font-size: 16px;
    line-height: 25px;
}

.contacts .download .title {
    color: #9a9a9a;
    font-weight: 400;
    font-size: 18px;
}

.contacts .download .link {
    color: #dd3668;
    font-weight: 700;
}

.slickSlider {
    width: calc(100% - 130px);
    margin: 0 auto;
}

.slickSlider .slide img {
    width: 202px;
    height: 211px;
    //background-color: white;
    //border-radius: 5px;
    //box-shadow: 0 0 38px rgba(1, 1, 1, 0.09);
}

.slickSlider .slick-arrow {
    width: 48px;
    height: 48px;
    background-color: white;
    box-shadow: 0 0 38px rgba(1, 1, 1, 0.09);
}

.slickSlider .slick-arrow::before {
    display: none;
}

.slickSlider .slick-arrow.slick-prev {
    left: -65px;
    background: url(../images/SVG/back.svg) center/50% no-repeat;

}

.slickSlider .slick-arrow.slick-next {
    right: -65px;
    background: url(../images/SVG/next.svg) center/50% no-repeat;
}